body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

.main{
    display: inline-block;
    width: 1000px;
    margin: 0 calc(50% - 500px) 60px;
}

.im{
    float:left;
    margin:0;}

.top{
    display: inline;
    float:right;
}

.top .up{
display: inline;
font-size: 20px;
text-decoration: none;
margin-left: 50px;
color: black;
}

.left-column{
float: left;
width: 40%;
}

.numbers{
font-size: 50px;
margin-bottom: 0;
;
}

.main-text{
font-size: 50px;
margin-top: 0;
}

.line{
width: 5px;
height: 100px;
color: red;
}

.paragraf{
font-size: 15px;
}

.right-column{
float:right;
width: 40%;
}

.btn{
margin-top: 40px;
    background-color: blue;
color:white;
font-size: 20px;
padding: 10px;

}

.white-btn{
padding: 10px;
color: blue;
font-size: 20px;
}

.symbols {
    float: left;
    color: red;
    font-size: 20px;
    text-decoration: none;
}

.right {
    float:right;
}